body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

.container {
  position: relative;
  background-color: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.menu-toggle {
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
}

.menu-icon,
.close-icon {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 4px 0;
  transition: background-color 0.3s ease;
}

.close-icon {
  transform: rotate(45deg);
}

.menu {
  display: none;
  padding: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

.note-area {
  flex: 1;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 40px;
  overflow: auto;
}

textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #fff;
  border: none;
  resize: none;
}

.toggle-theme {
  position: absolute;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}

.light-mode,
.dark-mode {
  width: 20px;
  height: 20px;
  display: none;
}

.light-mode {
  display: block;
}
